#navbarBasicExample {
    display: flex;
    justify-content: space-between;
}

#logout-form:focus {
    outline: none;
}

.image.is-4by3 {
    padding-top: 0;
    width: 14em;
    margin-right: 1em;
}

.user {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-bottom {
    align-self: flex-end;
    display: inherit;
}

.button-card {
    width: 10em;
    margin-right: 1em;
}

#link-black {
    color: black;
}

#link-black:hover {
    opacity: 60%;
}

.fas {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 0.5em;
}