#navbarBasicExample {
    display: flex;
    justify-content: space-between;
}

#logout-form:focus {
    outline: none;
}

.image.is-4by3 {
    padding-top: 0;
    width: 14em;
    margin-right: 1em;
}

#center-cours-select {
    width: 6em;
    margin: auto;
}

.user {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.borderNone {
    border: none;
    margin-left: 5.8em;
}

.borderNone:hover {
    border: none;
}

.button.is-focused:not(:active), .button:focus:not(:active) {
    outline: 0;
    box-shadow: none;
}

.flex-bottom {
    align-self: flex-end;
    display: inherit;
}

.button-card {
    width: 10em;
    margin-right: 1em;
}

#link-black {
    color: black;
}

#link-black:hover {
    opacity: 60%;
}

.fas {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 0.5em;
}

.width-forma-button {
    width: 20em;
}

.parametreButton{
    background:none;
    cursor:pointer;
}

.taille{
    width: 50em;
}
.hauteur100{
    height: 100px;
}
.hauteur60{
    height: 60px;
}
.hauteur50{
    height: 50px;
}
.hauteur40{
    height: 40px;
}
.hauteur25{
    height: 25px;
}
.hauteur10{
    height: 10px;
}
.position{
    margin-top: -19px;
}
.souligne{
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.containerProfil { position: relative; }
.containerProfil  img { display: block; height:90px;width:auto; }
.containerProfil .fa-pencil-alt { position: absolute; bottom:0; right:0; }
