#navbarBasicExample {
    display: flex;
    justify-content: space-between;
}

#logout-form:focus {
    outline: none;
}

.user {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.fas {
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 0.5em;
}